
.block-articles{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 90%;
    width: 90%;
    margin: 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 3);
    background-color: #eae4dd;
    color: #295f98;
    overflow: auto;

  }
  