{% extends "home.html" %}

{% block title %}Water{% endblock %}

{% block content %}

    <div class="block-water">
        
        <form method="post">

            {% csrf_token %}
            <h2> {{ paisW }}</h2>
            <img src="https://openweathermap.org/img/wn/{{ logoW }}.png" class="description-logo">
            <p> {{ descripcionW }}</p>
            <p> {{ temperaturaW }}</p>
            <p> {{ humedadW }}</p>
            <p> {{ recomendacionW }}</p>

            <button type="submit" class="send-water"></button>
        </form>
    </div>


{% endblock %}